* {
  margin: 0;
  padding: 0;
}
table {
  width: 80%;

  margin: 40px auto;
  background: rgb(124, 154, 167);

}
table.list{
    text-align: center;
    width: 100%;
}

th{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even),table.list thread>tr{
    background-color:rgb(204,200,200) ;
}
input{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
}